<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Retail ABC Service </h1>

	<p>Shops Server Microservice is running.</p>

	<p>
		Shops of name Shop0001 ~ Shop0500 are preloaded
	</p>


	<p>There are three operation you can do with this service:</p>

	<ul>
		<li>Add a shop</li>
		<li>List shops within a radius of given location</li>
		<li>Find a shop and its location by name</li>
	</ul>


</body>
</html>
